#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.addEmployee-input {
  width: fit-content;
}

.table-container {
  max-width: 80%;
  margin: 0 auto;
}

.employee-table {
  width: 100%;
}

form {
  display: inline-flex;
}

.form-input{
  border-radius: 7px;
  padding: .5rem;
  background-color: #dce4f1;
  margin: .5em;
  border: none;

  }

.card{
  border-radius: 5px;
  height: min-content;
  background-color: #e3e3ee;
  padding: 25px;
}


.thumbnail {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;

}

.status-indicator{
  border-radius: 50%;
  margin-left: auto;
  width: 23px;
  height: 23px;
  position: relative;
  top: -8px;
  left: 8px;
}

.hire-date{
  margin: 0;
  font-size: 14px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}

.parent-div{
  margin-top: 7rem;
}

.form-wrapper{
  display: flex;
}

.view-details-btn{
  background-color: rgb(173, 211, 228)!important;
  background: #dce3ed;
  height: 43px;
  width: 138px;
  font-size: 14px;
}

.detail-section{
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  gap: 4rem;
}

.department-select{
  padding-top: 12px;
padding-bottom: 9px;
padding-left: 23px;
padding-right: 19px;
}

.update-dept-div{
  display: flex;
gap: 16px;
}

.medium-img{
  width: 250px;
height: 250px;
border-radius: 50%;
object-fit: cover;
}

.btn-container{
  display: flex;
  gap: 5px  ;
}

.btn{
  background: #dce3ed;
  height: 43px;
  width: 138px;
  font-size: 14px;
}

.delete-btn{
  background-color: #dfa3cb!important;
  width: fit-content;

}


.department-history-table{
  display: flex;
  justify-content: center;
}

.left{
  text-align: left;
}